.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #222;
    height: 50px;
    color: #04deb3;
    position: relative;
}

.brand_text {
    font-size: clamp(1.7rem, 2vw, 2.2rem);
    font-weight: bold;
    margin-left: 135px;
}

.nav_event {
    font-size: 1.5rem;
    margin-right: 135px;
}

.menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media all and (max-width: 800px) {
    .brand_text {
        margin-left: 30px;
    }

    .nav_event {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50px;
        overflow: hidden;
        height: 0;
        width: 100%;
        background: #f1f1f1;
        opacity: 0;
    }

    .nav_event.active {
        height: 60px;
        opacity: 1;
        transition: opacity 0.2s, height 0.5s;
    }

    .menu {
        display: block;
        margin-right: 20px;
    }
}